<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container" style="width: 40%; height: 400px; background-color: rgb(211, 242, 252); margin: auto;">
        <div align="center" ><h1 style="padding-top: 70px;">Login Form</h1>
        <label for="">Username</label>
        <input type="text" placeholder="Enter Username">
        <br><br>
        <label for="">Password</label>
        <input type="text" placeholder="Enter Password">
        <br><br><br><br>
        <a href="/base/sur">
        <input type="submit" value="Login" style="width: 100px; height: 40px ; background-color: rgb(107, 215, 107); color: white;" >
        </a>
        <a href="/base/reg">New Member?</a>
        </div>
        
    </div>

</body>
</html>