<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="background-color: rgb(211, 242, 252); width: 50%; height: 700px; margin: auto;">
        <h1 align="center" style="padding-top: 50px;">Registeration Form</h1>
        <hr width="50%">
        <div align="right" style="padding-top: 30px; padding-right: 100px;">
            <label for="" style="font-size: 22px; font-weight: 600;">First Name  :</label>
            <input type="text" style="width: 300px; height: 30px;"><br><br>
            <label for="" style="font-size: 22px; font-weight: 600;">Last Name  :</label>
            <input type="text" style="width: 300px; height: 30px;"><br><br>
            <label for="" style="font-size: 22px; font-weight: 600;">Username  :</label>
            <input type="text" style="width: 300px; height: 30px;"><br><br>
            <label for="" style="font-size: 22px; font-weight: 600;">Password  :</label>
            <input type="text" style="width: 300px; height: 30px;"><br><br>
            <label for="" style="font-size: 22px; font-weight: 600;">Email  :</label>
            <input type="text" style="width: 300px; height: 30px;"><br><br>
            <label for="" style="font-size: 22px; font-weight: 600;">Mobile No  :</label>
            <input type="text" style="width: 300px; height: 30px;"><br><br>
            <label for="" style="font-size: 22px; font-weight: 600;">City  :</label>
            <select name="City" id="" style="width: 300px; height: 30px;">
                <option value="">calicut</option>
                <option value="">malappuram</option>
                <option value="">trissur</option>
                <option value="">kochi</option>
                <option value="">palakkad</option>
            </select>
            <br><br><br>
        </div>
    <div style="padding-left: 265px;">
        <a href="/base/log">
        <input type="submit" value="Register" style="width: 100px; height: 40px ; background-color: rgb(107, 215, 107); color: white;" >
        </a>
        <a href="">Back To Home</a>
    </div>
    </div>

</body>
</html>